*{
    padding: 0;
    margin: 0;
}

.containerr{
    position:relative ;
    width:100%;
    height:30em;
    display: flex;
    flex-direction: row;
}

.box{
    position: absolute;
    align-items: flex-end;
    display: flex;
    background-color:rgb(30,144,255);
    width:20em;
    height:20em;
    margin-left: 45em;
    top:7em;
    border-top-left-radius:20px;
    border-top-right-radius:100px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px ;
}

.texto{
    font-size:60px;
    position: absolute;
    margin-left:1em;
    top:1em;
}

.btn-info{
    font-size:20px;
    position: absolute;
    margin-left:3em;
    top:20em;
    width: 200px;
    height:50px;
    background-color:rgb(30,144,255) ;
    border: none;
    transition: 0.5s;
    animation:flutuar 3s ease-in-out infinite;
    cursor: pointer;
}

@keyframes flutuar{
    0%{transform: translate(0,0px);color: white;}
    50%{transform: translate(0,10px);color: black;}
    100%{transform: translate(0,-0px);color: white;}
}

footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    color:rgb(43, 43, 43);
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.itens{
    width: 15rem;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens>*{
    margin: 1rem;
}

.boxcompetencias{
    position:absolute;
    width: 100%;
    height:25em;
    padding: 2em;
    display: grid;
    grid-template-columns: .5fr .5fr 1fr;
}

.CardCompetencias{
    box-shadow: 0px 11px 13px 2px rgba(0,0,0,0.35);
    border-radius: 5px;
    background-color: RGB(221 221 221);
    padding: 1rem;
    width: 16rem;
    height: 16rem;
    transition: .5s;
}

.CardCompetencias:hover{
    margin-top: -10px;
}

.CardCompetencias:hover h1{
    transition: .5s;
    color: rgb(30,144,255);
}

.progress{
    width: 30em;
}

.progress>.progress-bar{
    animation:anim1 1s;
    transition: ease-in;
    animation-direction:alternate-reverse ;
}


footer>div{
    width:7em;
    height: 100px;
    margin:1em;
}

@media(max-width: 900px) {
    .texto{
        font-size:25px;
    }
    .box{
        margin-left:2em;
        width: 15em;
        height: 15em;
        top: 10em;
    }
    img{
        width:300px;
        height: 300px;
    }
    .btn-info{
        margin-left:2em;
        top:21em;   
    }
    .boxcompetencias{
        display: flex;
        flex-direction: column;
        height: 25em;
    }
    .progress{
        width: 20em;
    }
}

/*Projetos css*/
.projetos-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; 
    height: 100%;
}

.projeto-card{
    background-color: rgb(172, 172, 172);
    width:28em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:26em;
    margin: .5em;
    border-radius: 5px;
    padding: .3em;
}

iframe{
    width: 100%;
    height: 100%;
}

@media(max-width: 900px){
    .projetos-container{
        grid-template-columns: 1fr;
        width: 100%;  
    }   
    .projeto-card{
        width:16em; 
    }

}
